a               { cursor: pointer }

.nav            { margin:10px 0px}

.homeInfo       { margin-bottom:20px}


.buttons        { position:absolute; right:0; top:0 }
.buttons button { margin-right:10px; margin-top:8px }
.editingBox     { width:500px;}