<ul class="list-group">

    <!-- Repeat over the list items -->
    <li class="list-group-item" ng-repeat="item in listData">

        <!-- Repeat over the fields for each item -->
        <span ng-repeat="field in fields">
            {{item[field]}}
            &NonBreakingSpace; &NonBreakingSpace; &NonBreakingSpace;
        </span>

        <button class="deleteButton" ng-show="includeDeleteButton" ng-click="ctrl.deleteClicked($index)" >
            Delete Item
        </button>

    </li>

</ul>